<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>字体SegmentedControl</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color-selected</key>
		<string>#fd9025</string>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>background-gradient-selected</key>
		<string>#00000000</string>
		<key>background-gradient</key>
		<string>#00000000</string>
		<key>border-color</key>
		<string>#00000000</string>
		<key>border-width</key>
		<integer>0</integer>
		<key>corner-radius</key>
		<integer>0</integer>
	</dict>
	<key>顶部导航栏</key>
	<dict>
		<key>background-gradient</key>
		<string>#161616</string>
		<key>horizontal-line-color</key>
		<string>#000000</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
		<key>shadow-color</key>
		<string>#353535</string>
		<key>shadow-width</key>
		<integer>1</integer>
	</dict>
	<key>目录页SegmentedControl</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color-selected</key>
		<string>#ffffff</string>
		<key>font-color</key>
		<string>#a78675</string>
		<key>background-gradient-selected</key>
		<string>#a78675</string>
		<key>background-gradient</key>
		<string>#00262626</string>
		<key>border-color</key>
		<string>#a78675</string>
		<key>border-width</key>
		<real>0.5</real>
		<key>corner-radius</key>
		<integer>3</integer>
	</dict>
	<key>目录页</key>
	<dict>
		<key>background</key>
		<string>#292929</string>
	</dict>
	<key>目录列表cell</key>
	<dict>
		<key>background</key>
		<string>#292929</string>
		<key>background-selected</key>
		<string>##a78675</string>
		<key>font-color</key>
		<string>#bbbbbb</string>
		<key>font-color-selected</key>
		<string>#0079ff</string>
		<key>font-size</key>
		<integer>15</integer>
		<key>horizontal-line-color</key>
		<string>#161616</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
