<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>左侧边栏列表</key>
	<dict>
		<key>background</key>
		<string>#00000000</string>
		<key>background-selected</key>
		<string>#00000000</string>
		<key>font-color</key>
		<string>#353535</string>
		<key>font-color-selected</key>
		<string>#bb1100</string>
		<key>font-size</key>
		<integer>18</integer>
		<key>verticle-line-color</key>
		<string>#00000000</string>
		<key>verticle-line-width</key>
		<integer>0</integer>
		<key>horizontal-line-color</key>
		<string>#00000000</string>
		<key>horizontal-line-width</key>
		<integer>0</integer>
	</dict>
	<key>左侧边栏列表_Pad</key>
	<dict>
		<key>background</key>
		<string>#00000000</string>
		<key>background-selected</key>
		<string>#595959</string>
		<key>font-color</key>
		<string>#fafafafa</string>
		<key>font-color-selected</key>
		<string>#ffffff</string>
		<key>font-size</key>
		<integer>18</integer>
		<key>verticle-line-color</key>
		<string>#00000000</string>
		<key>verticle-line-width</key>
		<integer>0</integer>
		<key>horizontal-line-color</key>
		<string>#00000000</string>
		<key>horizontal-line-width</key>
		<integer>0</integer>
	</dict>
	<key>字体SegmentedControl</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color-selected</key>
		<string>#aaaaaa</string>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>background-gradient-selected</key>
		<string>#00000000</string>
		<key>background-gradient</key>
		<string>#00000000</string>
		<key>border-color</key>
		<string>#00000000</string>
		<key>border-width</key>
		<integer>0</integer>
		<key>corner-radius</key>
		<integer>0</integer>
	</dict>
	<key>下拉刷新</key>
	<dict>
		<key>background</key>
		<string>#efefef</string>
		<key>border-color</key>
		<string>#0033b9c5</string>
		<key>border-color-selected</key>
		<string>#33b9c5</string>
		<key>border-width</key>
		<integer>1</integer>
		<key>font-color</key>
		<string>#33b9c5</string>
		<key>font-size</key>
		<integer>13</integer>
	</dict>
	<key>分类子导航</key>
	<dict>
		<key>background</key>
		<string>#f2f2f2</string>
		<key>font-color</key>
		<string>#000000</string>
		<key>font-color-selected</key>
		<string>#bf3024</string>
		<key>font-size</key>
		<integer>15</integer>
		<key>horizontal-line-color</key>
		<string>#ababab</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>杂志搜索列表</key>
	<dict>
		<key>background</key>
		<string>#fafafa</string>
		<key>background-image</key>
		<string></string>
		<key>useBackgroundImage</key>
		<false/>
		<key>background-selected</key>
		<string>#55999999</string>
		<key>horizontal-line-color</key>
		<string>#00990000</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>杂志搜索的取消按钮</key>
	<dict>
		<key>font-color</key>
		<string>#fafafa</string>
		<key>font-size</key>
		<integer>16</integer>
	</dict>
	<key>杂志搜索框</key>
	<dict>
		<key>corner-radius</key>
		<integer>3</integer>
		<key>border-width</key>
		<real>0.5</real>
		<key>border-color</key>
		<string>#bb1100</string>
	</dict>
	<key>图书目录列表</key>
	<dict>
		<key>background</key>
		<string>#262626</string>
		<key>background-selected</key>
		<string>#202020</string>
		<key>font-color</key>
		<string>#252525</string>
		<key>font-color-selected</key>
		<string>#0079ff</string>
		<key>font-size</key>
		<integer>15</integer>
		<key>horizontal-line-color</key>
		<string>#cccccc</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>顶部导航栏</key>
	<dict>
		<key>background-gradient</key>
		<string>#28b9c6,#28b9c6</string>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>font-size</key>
		<integer>18</integer>
		<key>horizontal-line-color</key>
		<string>#666666</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
		<key>shadow-color</key>
		<string>#353535</string>
		<key>shadow-width</key>
		<integer>1</integer>
	</dict>
	<key>书架模块顶部SegmentedControl</key>
	<dict>
		<key>font-size</key>
		<integer>14</integer>
		<key>font-color-selected</key>
		<string>#28b9c6</string>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>background-gradient-selected</key>
		<string>#ffffff</string>
		<key>background-gradient</key>
		<string>#00262626</string>
		<key>border-color</key>
		<string>#ffffff</string>
		<key>border-width</key>
		<real>0.5</real>
		<key>corner-radius</key>
		<integer>3</integer>
	</dict>
	<key>文章搜索列表</key>
	<dict>
		<key>background</key>
		<string>#ffffff</string>
		<key>background-image</key>
		<string>recommend_bg</string>
		<key>useBackgroundImage</key>
		<false/>
		<key>background-selected</key>
		<string>#f6f6f6</string>
		<key>horizontal-line-color</key>
		<string>#666666</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>杂志目录Header</key>
	<dict>
		<key>background-gradient</key>
		<string>#fafafa,#fafafa</string>
		<key>font-color</key>
		<string>#000000</string>
		<key>font-size</key>
		<integer>18</integer>
		<key>horizontal-line-color</key>
		<string>#454545</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>杂志目录Header_Summary</key>
	<dict>
		<key>font-color</key>
		<string>#D8D8D8</string>
		<key>font-size</key>
		<integer>12</integer>
	</dict>
	<key>杂志目录Header_SectionLine</key>
	<dict>
		<key>horizontal-line-color</key>
		<string>#454545</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>收藏列表Header</key>
	<dict>
		<key>background-gradient</key>
		<string>#f5f5f5,#f5f5f5</string>
		<key>font-color</key>
		<string>#ed1c24</string>
		<key>font-size</key>
		<integer>12</integer>
		<key>horizontal-line-color</key>
		<string>#ad3c54</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
</dict>
</plist>
