<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>分类子导航</key>
	<dict>
		<key>background</key>
		<string>#f2f2f2</string>
		<key>font-color</key>
		<string>#000000</string>
		<key>font-color-selected</key>
		<string>#bf3024</string>
		<key>font-size</key>
		<integer>15</integer>
		<key>horizontal-line-color</key>
		<string>#ababab</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>顶部导航栏</key>
	<dict>
		<key>background-gradient</key>
		<string>#000000,#141414</string>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>font-size</key>
		<integer>18</integer>
		<key>horizontal-line-color</key>
		<string>#666666</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
		<key>shadow-color</key>
		<string>#000000</string>
		<key>shadow-width</key>
		<integer>2</integer>
	</dict>
	<key>文章搜索列表</key>
	<dict>
		<key>background</key>
		<string>#2C2C2C</string>
		<key>background-image</key>
		<string>recommend_bg</string>
		<key>useBackgroundImage</key>
		<false/>
	</dict>
	<key>杂志目录Header</key>
	<dict>
		<key>background-gradient</key>
		<string>#f4f3f3,#f4f3f3</string>
		<key>font-color</key>
		<string>#000000</string>
		<key>font-size</key>
		<integer>18</integer>
		<key>horizontal-line-color</key>
		<string>#999999</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>杂志目录Header_Summary</key>
	<dict>
		<key>font-color</key>
		<string>#252525</string>
		<key>font-size</key>
		<integer>12</integer>
	</dict>
	<key>杂志目录Header_SectionLine</key>
	<dict>
		<key>horizontal-line-color</key>
		<string>#454545</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>收藏列表Header</key>
	<dict>
		<key>background-gradient</key>
		<string>#1A1A1A,#2B2B2B</string>
		<key>font-color</key>
		<string>#ffffff</string>
		<key>font-size</key>
		<integer>12</integer>
		<key>horizontal-line-color</key>
		<string>#CCCCCC</string>
		<key>horizontal-line-width</key>
		<real>0.5</real>
	</dict>
	<key>文章Header</key>
	<dict>
		<key>horizontal-line-color</key>
		<string>#252525</string>
		<key>horizontal-line-width</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
