

fav_title{
color:#fafafa;
text-align:left;
text-indent:0px; 
font-size:18px;
line-height:23px;
}

fav_author{
color:#999999;
text-align:left;
text-indent:0px; 
font-size:14px;
line-height:17px;
padding-top:6px;
}

fav_summary{
color:#cccccc;  
text-align:left;
text-indent:0px; 
font-size:16px;
line-height:21px;
padding-top:10px;
}

