

search_title{
color:#ffffff;
text-align:left;
text-indent:0px; 
font-size:22px;
line-height:23px;
}

search_summary{
color:#ffffff;
text-align:left;
text-indent:0px; 
font-size:16px;
line-height:18px;
padding-top:10px;
}

