

title{
color:#000000;  
text-align:left;
text-indent:0px; 
font-size:18px;
line-height:21px;
}
title_selected{
color:#333333;  
text-align:left;
text-indent:0px; 
font-size:18px;
line-height:21px;
}
author{
color:#555555;  
text-align:left;
text-indent:0px; 
font-size:12px;
line-height:15px;
padding-top:6px;
}
author_selected{
color:#666666;  
text-align:left;
text-indent:0px; 
font-size:12px;
line-height:15px;
padding-top:6px;
}
summary{
color:#777777;  
text-align:left;
text-indent:0px; 
font-size:15px;
line-height:19px;
padding-top:10px;
}
summary_selected{
color:#888888;  
text-align:left;
text-indent:0px; 
font-size:15px;
line-height:19px;
padding-top:10px;
}

summary_thumb{
color:#666666;  
text-align:left;
text-indent:30px; 
font-size:15px;
line-height:19px;
padding-top:60px;
}

